build/
devel/
logs/
.catkin_tools/
/.vscode

# Ignored. The workspace setup does not contain submodules.
# See .gitmodules for the detailed explanation.
/.gitmodules

activation.raisim
MUJOCO_LOG.TXT
*.log
offsets.txt
.zhistory-recover
plots/